{% extends 'main.html' %}
{% block title %}<title>Categories | Pot Of Quotes</title>{% endblock %}
  {% block navbar %}
  {% include 'top-nav-public.html' ignore missing %}
  {% endblock %}
  {% block content %}

    <div class="column col-md-12 center col-lg-6 ">
      {% for i in categories %}
      <a class="name-link" href="{{ url_for('showAllQuotes', category_name=i.name)}}">
        <div class="border rounded list-blocks-snglCol">
          <h3 class="category-name">
            {{ i.name }}
          </h3>
        </div>
      </a>
      {% endfor %}
    </div>

    <div class="column col-lg-6 lg-screens-div">
      <h4 class="latest">Latest Authors</h4>
        {% for i in quotes %}
          {% if i.category != None %}
            <p class="author-quote"><strong>{{ i.author }}</strong>
              <span class="cat-name">({{ i.category.name }})</span>
            </p>
          {% endif%}
        {% endfor %}
    </div>
  {% endblock %}
  {% block bottom %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% include 'bottom-nav.html' ignore missing %}
  {% endblock %}
