{% extends 'main.html' %}
{% block title %}<title>Pot Of Quotes</title>{% endblock %}
  {% block navbar %}
    {% include 'top-nav.html' ignore missing %}
  {% endblock %}
  {% block content %}
  <div class="col-md-12 center col-lg-6">
    <p>New Quote for:</p>
    <h3 class="category-name">{{ category.name }}</h3>
    <div class="rounded border delete-div">
      <h4 class="form-title">Are you sure you want to delete this QUOTE ?</h4>

      <form class="form-delete" action="{{ url_for('deleteQuote', category_name =  category_name, quote_id = quote.id)}}" method="post">

        <blockquote class="content--quote__style">{{ quote.description }}</blockquote>
        <p class="author-quote__style">Quote by <strong>{{ quote.author }}</strong>
        <span class="created_on">{{ quote.created_on.strftime("%B %d, %Y") }}</span>
        </p>
        <input class="btn btn-outline-danger btn-delete"  type="submit" value="Delete">

        <a class="btn btn-outline-success btn-cancel" href="{{ url_for('showAllQuotes', category_name = category_name)}}">Cancel</a>

      </form>
    </div>
  </div>
  {% endblock %}
  {% block bottom %}
  {% include 'btm-nav-form-quote.html' ignore missing %}
  {% endblock %}
