{% extends 'main.html' %}
{% block title %}<title>Pot Of Quotes</title>{% endblock %}
  {% block navbar %}
    {% include 'top-nav.html' ignore missing %}
  {% endblock %}
    {% block content %}
    <div class="col-md-12 center col-lg-6">
      <p>New Quote for:</p>
      <h3 class="category-name">{{ category.name }}</h3>
      <div class="rounded border form-div">
        <form class="form-edit" action="{{url_for('editQuote', category_name= category_name, quote_id = quote_id)}}" method="POST">
          <div class="form-group">
            <label for="editAuthor">Author</label>
            <input id="editAuthor" class="form-control edit-input" type="text" size="30" name="author" placeholder="{{quote.author}}">
          </div>
          <div class="form-group">
            <label for="editDescription"></label>
            <textarea id="editDescription" class="form-control"  rows="6" name="description">{{quote.description}}
            </textarea>
          </div>
            <p class="created_on">{{ quote.created_on.strftime("%B %d, %Y") }}</p>

          <input class="btn btn-outline-primary btn-edit" type="submit" value="Edit">

          <a class="btn btn-outline-success btn-cancel" href="{{url_for('showQuote', category_name = category_name, quote_id = quote.id)}}">Cancel</a>

        </form>
      </div>
    </div>
    {% endblock %}
    {% block bottom %}
      {% include 'btm-nav-form-quote.html' ignore missing %}
    {% endblock %}
