{% extends 'main.html' %}
{% block title %}<title>Quote | Pot Of Quotes</title>{% endblock %}
  {% block navbar %}
    {% include 'top-nav.html' ignore missing %}
  {% endblock %}
  {% block content %}
  <div class="col-md-12 center col-lg-6">
    <div class="border rounded block-mltpColnRows">
      <blockquote class="content-quote content--quote__style">
      {{ quote.description}}
      </blockquote>
      <span class="author-quote author-quote__style ">
      Quote by <strong>{{ quote.author }} </strong>
      </span>
      <span class="author-quote-created-date created_on">{{ quote.created_on.strftime("%B %d, %Y") }}</span>
      <a class="edit-quote" href="{{url_for('editQuote',category_name=category.name,quote_id = quote.id)}}">
        <i class="far fa-edit fa-lg"></i>
      </a>

      <a class="delete-quote" href="{{url_for('deleteQuote',category_name=category.name, quote_id = quote.id)}}">
      <i class="far fa-trash-alt fa-lg"></i>
      </a>
    </div>
  </div>
  {% endblock %}
  {% block bottom %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% include 'btm-nav-quote.html' ignore missing %}
  {% endblock %}
