{% extends 'main.html' %}
{% block title %}<title>Quotes | Pot Of Quotes</title>{% endblock %}
  {% block navbar %}
    {% include 'top-nav-public.html' ignore missing %}
  {% endblock %}

  {% block content %}

    <div class="column col-md-12 center col-lg-6 lg-screens-div">
      {% for i in categories %}
      <a class="name-link" href="{{ url_for('showAllQuotes', category_name=i.name)}}">
        <div class="border rounded list-blocks-snglCol">
          <h3 class="category-name">
            {{ i.name }}
          </h3>
        </div>
      </a>
      {% endfor %}
    </div>

  <div class="column col-md-12 col-lg-6 ">
    <h1 class="center">{{ category.name }}</h1>
    {% for i in quotes %}
      <a class="quotes" href="{{url_for('showQuote', category_name=category.name, quote_id=i.id)}}">
        <div class="border rounded list-blocks-dbllCol">
            <p class="author">
              Quote by <strong>{{ i.author }}</strong>
            </p>

          <p class="date created_on">{{ i.created_on.strftime("%B %d, %Y") }}</p>

          <img class="rounded-circle user-pic quotes-user-pic" src="{{ creator.picture }}" alt="Creator's picture">

        </div>
      </a>
    {% endfor %}

  </div>
  {% endblock %}

  {% block bottom %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% include 'bottom-nav-quotes.html' ignore missing %}
  {% endblock %}
