{% extends 'main.html' %}
{% block title %}<title>Quote | Pot Of Quotes</title>{% endblock %}
{% block navbar %}
  {% include 'top-nav-public.html' ignore missing %}
{% endblock %}
  {% block content %}
  <div class="col-md-12 center col-lg-6">
    <div class="border rounded block-mltpColnRows">
      <blockquote class="content-quote content--quote__style">
      {{ quote.description}}
      </blockquote>
      <p class="author-quote author-quote__style ">
      Quote by <strong>{{ quote.author }} • </strong>
        <span class="created_on">{{ quote.created_on.strftime("%B %d, %Y") }}</span>
      </p>
      <section class="quote-creator">
        <img class="rounded-circle user-pic" src="{{ creator.picture }}" alt="Creator's picture">
        <span class="creator-name creator-name-quote"> {{ creator.name }}</snap>
      </section>
    </div>
  </div>
  {% endblock %}
  {% block bottom %}
  {% include 'btm-nav-quote.html' ignore missing %}
  {% endblock %}
