{% extends 'main.html' %}
{% block title %}<title>Quote | Pot Of Quotes</title>{% endblock %}
  {% block navbar %}
    {% include 'top-nav.html' ignore missing %}
  {% endblock %}
  {% block content %}
  <div class="col-md-12 center col-lg-6">
    <div class="border rounded block-mltpColnRows">
      <blockquote class="content-quote content--quote__style">
      {{ quote.description}}
      </blockquote>
      <span class="author-quote author-quote__style ">
      Quote by <strong>{{ quote.author }} </strong>
      </span>
      <span class="author-quote-created-date created_on">{{ quote.created_on.strftime("%B %d, %Y") }}</span>
      <a class="edit-quote" href="{{url_for('editQuote',category_name=category.name,quote_id = quote.id)}}">
        <i class="far fa-edit fa-lg"></i>
      </a>

      <a class="delete-quote" href="{{url_for('deleteQuote',category_name=category.name, quote_id = quote.id)}}">
      <i class="far fa-trash-alt fa-lg"></i>
      </a>
    </div>
  </div>
  {% endblock %}
  {% block bottom %}
  {% include 'btm-nav-quote.html' ignore missing %}
  {% endblock %}
